Project/test_client_which_calls_soap/src/wsdl/localhost_8083/photographysessionservice.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.session.photography.hccis.info/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.session.photography.hccis.info/" name="PhotographySessionServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.session.photography.hccis.info/" schemaLocation="http://localhost:8083/photographysessionservice?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getCount">
<part name="parameters" element="tns:getCount"></part>
</message>
<message name="getCountResponse">
<part name="parameters" element="tns:getCountResponse"></part>
</message>
<message name="getPhotographySession">
<part name="parameters" element="tns:getPhotographySession"></part>
</message>
<message name="getPhotographySessionResponse">
<part name="parameters" element="tns:getPhotographySessionResponse"></part>
</message>
<message name="getPhotographySessions">
<part name="parameters" element="tns:getPhotographySessions"></part>
</message>
<message name="getPhotographySessionsResponse">
<part name="parameters" element="tns:getPhotographySessionsResponse"></part>
</message>
<portType name="PhotographySessionService">
<operation name="getCount">
<input wsam:Action="http://soap.session.photography.hccis.info/PhotographySessionService/getCountRequest" message="tns:getCount"></input>
<output wsam:Action="http://soap.session.photography.hccis.info/PhotographySessionService/getCountResponse" message="tns:getCountResponse"></output>
</operation>
<operation name="getPhotographySession">
<input wsam:Action="http://soap.session.photography.hccis.info/PhotographySessionService/getPhotographySessionRequest" message="tns:getPhotographySession"></input>
<output wsam:Action="http://soap.session.photography.hccis.info/PhotographySessionService/getPhotographySessionResponse" message="tns:getPhotographySessionResponse"></output>
</operation>
<operation name="getPhotographySessions">
<input wsam:Action="http://soap.session.photography.hccis.info/PhotographySessionService/getPhotographySessionsRequest" message="tns:getPhotographySessions"></input>
<output wsam:Action="http://soap.session.photography.hccis.info/PhotographySessionService/getPhotographySessionsResponse" message="tns:getPhotographySessionsResponse"></output>
</operation>
</portType>
<binding name="PhotographySessionServiceImplPortBinding" type="tns:PhotographySessionService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getCount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPhotographySession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getPhotographySessions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="PhotographySessionServiceImplService">
<port name="PhotographySessionServiceImplPort" binding="tns:PhotographySessionServiceImplPortBinding">
<soap:address location="http://localhost:8083/photographysessionservice"></soap:address>
</port>
</service>
</definitions>