Project/test_client_which_calls_soap/src/wsdl/localhost_8083/photographysessionservice.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://soap.session.photography.hccis.info/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.session.photography.hccis.info/">

<xs:element name="getCount" type="tns:getCount"></xs:element>

<xs:element name="getCountResponse" type="tns:getCountResponse"></xs:element>

<xs:element name="getPhotographySession" type="tns:getPhotographySession"></xs:element>

<xs:element name="getPhotographySessionResponse" type="tns:getPhotographySessionResponse"></xs:element>

<xs:element name="getPhotographySessions" type="tns:getPhotographySessions"></xs:element>

<xs:element name="getPhotographySessionsResponse" type="tns:getPhotographySessionsResponse"></xs:element>

<xs:complexType name="getCount">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getCountResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPhotographySessions">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getPhotographySessionsResponse">
<xs:sequence>
<xs:element name="return" type="tns:photographySession" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="photographySession">
<xs:sequence>
<xs:element name="addedExtraEditing" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="addedExtraPrints" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="addedPhotoAlbum" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="addedVideo" type="xs:boolean" minOccurs="0"></xs:element>
<xs:element name="clientName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cost" type="xs:decimal" minOccurs="0"></xs:element>
<xs:element name="date" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="hourlyRate" type="xs:decimal" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="numberOfExtraPrints" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="numberOfHoursBooked" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="packageNumber" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="sessionNotes" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPhotographySession">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPhotographySessionResponse">
<xs:sequence>
<xs:element name="return" type="tns:photographySession" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>